<!DOCTYPE html>
<html>
  <head>
    <link rel="shortcut icon" type="image/png" href="img/icon.png"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/codingStyle.css') }}">
    <title>Coding Buddy</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
      integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
      crossorigin="anonymous"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  </head>

  <body>
    <nav class="navbar">
      <ul class="nav-items">
          <img src="{{ url_for('static', filename='img/ai.png') }}" width="50" height="50">
          <li><a href="/">Home</a></li>
          <li><a href="/projectPage" >Project Coding Buddy</a></li>
          <li><a href="/codingPage" class="active">Coding Buddy</a></li>
      </ul>
  </nav>
    
    <div class="container-fluid h-100">
      <div class="row justify-content-center h-100">
        <div class="col-md-8 col-xl-6 chat">

          <div class="card">
            <div class="card-header msg_head">
              <div class="d-flex bd-highlight">
                <div class="img_cont">
                  <img
                    src="{{ url_for('static', filename='img/bot.jpg') }}"
                    class="rounded-circle user_img"
                  />
                  <span class="online_icon"></span>
                </div>
                <div class="user_info">
                  <span>Coding Buddy</span>
                  <p>Ask me anything!</p>
                </div>
              </div>
            </div>
            <div id="messageFormeight" class="card-body msg_card_body"></div>
            <div class="card-footer">
              <form id="messageArea" class="input-group">
                <div class="input-group-append">
                  <button
                    type="button"
                    id="photo"
                    class="input-group-text photo_btn"
                  >
                  <i class="fas fa-image" id="imageIcon"></i>
                  </button>

                   <input
                       type="file"
                       id="imageInput"
                       name="image"
                       accept="image/*"
                       style="display: none;"
                    />
                </div>
                <input
                  type="text"
                  id="text"
                  name="msg"
                  placeholder="Write your message..."
                  autocomplete="off"
                  class="form-control type_msg"
                  required
                />
                <div class="input-group-append">
                  <button
                    type="submit"
                    id="send"
                    class="input-group-text send_btn"
                  >
                    <i class="fas fa-location-arrow"></i>
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <script>
      function scrollToBottom() {
          var messageBody = document.getElementById("messageFormeight");
          messageBody.scrollTop = messageBody.scrollHeight;
      }
  
      $(document).ready(function () {
          document.getElementById('photo').addEventListener('click', function () {
              document.getElementById('imageInput').click();
          });

            // Resim yüklendiğinde tik işareti göster
          document.getElementById('imageInput').addEventListener('change', function () {
              if (this.files.length > 0) {
                  $('#photo i').removeClass('fas fa-image').addClass('fas fa-check');
              }
          });
  
          $("#messageArea").on("submit", function (event) {
              event.preventDefault(); 
  
              const date = new Date();
              const hour = date.getHours();
              const minute = date.getMinutes();
              const str_time = hour + ":" + minute;
              var rawText = $("#text").val(); 
              var imageFile = document.getElementById('imageInput').files[0];
              
              var formData = new FormData();
              formData.append('msg', rawText);
              if (imageFile) {
                  formData.append('image', imageFile); 
              }
  
              var userHtml =
                  '<div class="d-flex justify-content-end mb-4"><div class="msg_cotainer_send">' +
                  rawText +
                  '<span class="msg_time_send">' +
                  str_time +
                  '</span></div><div class="img_cont_msg"><img src="https://i.ibb.co/d5b84Xw/Untitled-design.png" class="rounded-circle user_img_msg"></div></div>';
              
              $("#text").val("");
              document.getElementById('imageInput').value = ""; // Resim alanını her soruda sıfırlar
              $("#messageFormeight").append(userHtml);
              scrollToBottom();

              // Simgeyi tekrar eski haline döndür (fa-image)
              $('#photo i').removeClass('fas fa-check').addClass('fas fa-image');

                // 1 saniye sonra '...' mesajını gösterir
              setTimeout(function() {
              var thinkingHtml =
                '<div class="d-flex justify-content-start mb-4 thinking-msg"><div class="img_cont_msg"><img src="https://i.ibb.co/yqQTbNc/bot.jpg" class="rounded-circle user_img_msg"></div><div class="msg_cotainer">' +
                '...' +
                '<span class="msg_time">' +
                str_time +
                '</span></div></div>';
            
               $("#messageFormeight").append(thinkingHtml);
               scrollToBottom();
               }, 1000);
  
              // AJAX isteği gönder
              $.ajax({
                  type: "POST",
                  url: "/upload", 
                  processData: false,
                  contentType: false,
                  data: formData,
                  success: function (response) {
                      var botResponse = response.message;

                      // '...' mesajını kaldırır ve gerçek cevabı ekler
                      $(".thinking-msg").remove();
  
                      var botHtml =
                          '<div class="d-flex justify-content-start mb-4"><div class="img_cont_msg"><img src="https://i.ibb.co/yqQTbNc/bot.jpg" class="rounded-circle user_img_msg"></div><div class="msg_cotainer">' +
                          botResponse +
                          '<span class="msg_time">' +
                          str_time +
                          "</span></div></div>";
  
                      $("#messageFormeight").append($.parseHTML(botHtml)); // Bot cevabını ekrana yazdırır
                      scrollToBottom();
                  },
                  error: function (xhr, status, error) {
                      console.error("Hata: ", error);
                  }
              });
          });
      });
  </script>
  
  </body>
</html>