<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Coding Buddy</title>
 <!--  <link rel="shortcut icon" href="img/icon.png"/> -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">

</head>
<body>
<!-- partial:index.partial.html -->
<nav>
  <a>
    <img src="{{ url_for('static', filename='img/ai.png') }}" width="55" height="55">
  </a>
  <a href="/codingPage">Coding Buddy</a>
</nav>
<main>
  <section>
    <div class="fixed">
      <img src="https://fastly.picsum.photos/id/6/1920/1080.jpg?grayscale&hmac=kcBy-PDyUCD589JvLFHqYhKqCigioDgzoiuckGHjvdM" alt="">
      <div class="content">
        <h1>Welcome to Coding Buddy!</h1>
        <p>Your best friend to guide you on your coding journey is here. Let's build amazing things together!</p>
      </div>
    </div>
  </section>
  <section>
    <article>
      <div class="fixed">
        <img src="https://fastly.picsum.photos/id/846/1920/1080.jpg?hmac=rx55XDjKPLjmW5WdHBRqOphU4wZkLT5W3TC_WBdvyVY" alt="">
      </div>
      <div class="static">
        <div class="content">
          <div class="text-wrap">
            <div class="loud-wrap">
              <h2>Do you need help with projects?</h2>
            </div>
          </div>
        </div>
      </div>
    </article>
    <article>
      <div class="fixed"></div>
      <div class="static">
        <div class="content">
          <h2>You can start asking questions<br />by clicking on Coding Buddy.</h2>
        </div>
      </div>
    </article>
    <article>
      <div class="fixed">
        <img src="https://fastly.picsum.photos/id/283/3823/2538.jpg?hmac=a_UsYMvJaoPttj7INb2UOcCbMuKb9cEu70ZgzcwCDqs" alt="">
      </div>
      <div class="static">
        <div class="content">
          <h2>Here to help you!</h2>
          <div class="chat-container">
            <div class="text-blocks">
              <p>How can I get started?</p>
              <p>You can start your coding journey with Coding Buddy. Just with a few clicks, take your first step!</p>
              <p>Can I get some tips?</p>
              <p>Of course! I can provide suggestions regarding your projects.</p>
              <p>Thank you, Coding Buddy!</p>
            </div>            
          </div>
          <div class="filler">
            <h2>Don't forget to upload your project and document it!</h2>
          </div>
        </div>
      </div>
    </article>
    <article>
      <div class="fixed">
        <img src="https://fastly.picsum.photos/id/681/1920/1080.jpg?hmac=qyb0NfTEkQw9QdsIYQbV0GhAEyKiPcAfetmIF_e8Kik" alt="" />
        <div class="content">
          <h2>That's it.<br>Now it's AI time!</h2>
        </div>
      </div>
    </article>
  </section>
</main>
<!-- partial -->
  <script type="module" src="{{ url_for('static', filename='js/script.js') }}"></script>

</body>
</html>
